
<div class="card-header">
  How Many Team Members Do You Want?
</div>

<div class="card-body">
  <br />
  <div class="row">
    <div class="col-md-4">

      <%= form_tag home_team_path, :method => 'POST' do %>

        <%= select_tag(:team_number, options_for_select([
          ['1', 1],
          ['2', 2],
          ['3', 3],
          ['4', 4],
          ['5', 5],
          ['6', 6],
          ['7', 7],
          ['8', 8],
          ['9', 9]
        ]), class: "form-control") %>

        <br />

        <%= submit_tag "Build your team", class:"btn btn-primary" %>
      <% end %>

    </div>

    <div class="col-md-4">
      POST Value: <%= @team_number %>
    </div>

    <div class="col-md-4">
    </div>
  </div>

  <br />

</div>
