
<div class="card">

  <div class="card-header">
    <%= link_to "Click here to create a new superhero", root_path %>
  </div>

  <div class="card-body">
    <br />

    <br />

  </div>

  <div class="card-footer">
    <%= link_to "Click here to create a new team of superheros", home_team_path %>
  </div>

</div>
