
<div class="card">

  <div class="card-header">
    <%= link_to "Click here to create a new superhero", root_path %>
  </div>

  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>

  <div class="card-footer">
    <%= link_to "Click here to create a new team of superheros", root_path %>
  </div>

</div>
